@import url('./global.css');

.error {
  background-image: url(../img/404.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding-top: calc(50vh - 80px);
}
.error .overlay {
  background-color: var(--global-color-black);
  opacity: 0.6;
  z-index: 1;
}
.error .container {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 2;
}
.error .left .title {
  font-size: 200px;
  color: var(--global-color-primary);
}
.error .right {
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  display: flex;
}
.error .right .title {
  text-align: inherit;
  color: var(--global-color-white);
  margin: 0 0 20px;
}
.error .right .desc {
  line-height: 1.5;
  max-width: 420px;
  text-align: inherit;
  margin: 0 0 36px;
  color: var(--global-color-text);
}