/* start header section */
@import "./pages-header.css";
section.header {
  background-image: url(../img/about-us-page.jpg);
}
/* end header section */

/* global */
section {
  padding: 50px 0;
}
/* start about-us section */
.about-us {
  padding: 35px 0 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.about-us .box {
  position: relative;
  min-height: 1px;
  height: 100%;
  width: 100%;
  margin: 0;
}
.about-us .img-box {
  display: flex;
  position: relative;
}
.about-us .img-box .circle-img {
  margin: 0% -10% 0% 90%;
  padding: 30px 20px 30px 20px;
  background-color: #ededed;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  z-index: 3;
  position: relative;
  height: fit-content;
  top: 60px;
}
.about-us .img-box .circle-img img {
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  display: inline-block;
}
.about-us .img-box .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: url(../img/about-us-page-01.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.about-us .content-box {
  justify-content: flex-start;
  padding: 10% 15%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.about-us .content-box .title-holder {
  margin: 0px 120px 20px 0px;
}
.about-us .content-box .title-holder .title {
  margin-top: 0;
}
.about-us .content-box .text-holder p {
  color: var(--global-color-text-dark);
}
.about-us .content-box .counters-box {
  display: flex;
  column-gap: 22px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 45px;
}
.about-us .content-box .counters-box .counter {
  text-align: center;
}
.about-us .content-box .counters-box .counter .number-holder {
  margin-bottom: 25px;
  font-weight: 600;
  margin: 0;
}
.about-us .content-box .counters-box .counter .number-holder .number {
  font-size: 55px;
}
.about-us .content-box .counters-box .counter .number-holder .super {
  color: var(--global-color-primary);
  position: relative;
  top: 3px;
  margin-left: 8px;
  font-size: 35px;
}
.about-us .content-box .counters-box .counter .title {
  font-size: 16px;
  color: var(--global-color-text-dark);
  font-family: "Marcellus", "serif";
}
.about-us .content-box .counters-box .counter .title {
  font-size: 16px;
  color: var(--global-color-text-dark);
}
/* end about-us section */


/* start cards section */
section.cards {
  overflow: visible;
  padding-bottom: 100px;
  padding-top: 60px;
}
section.cards .cards-box {
  display: flex;
  position: relative;
}
section.cards .cards-box .card {
  box-shadow: 0px 5px 20px 2px rgb(0 0 0 / 10%);
  flex: 1;
}
section.cards .cards-box .card .content {
  padding: 40px 50px 30px 50px;
  flex-direction: column;
  text-align: center;
  border-radius: 0;
  display: flex;
  margin: 0;
}
section.cards .cards-box .card .background {
  background-image: url(../img/about-us-page-02.jpg);
  height: 100%;
}
section.cards .cards-box .card .icon {
  color: var(--global-color-primary);
}
section.cards .cards-box .card .icon i {
  transition: top 0.3s ease-out;
  position: relative;
  font-size: 60px;
  top: 0;
}
section.cards .cards-box .card:hover .icon i {
  top: -15px;
}
section.cards .cards-box .card .title {
  color: var(--global-color-white);
  font-size: 35px;
  margin-bottom: 15px;
}
section.cards .cards-box .card p {
  color: var(--global-color-text);
}
section.cards .cards-box .card {
  background-color: var(--global-color-black);
}
section.cards .cards-box .card.white {
  background-color: var(--global-color-white);
}
section.cards .cards-box .card.white .title {
  color: var(--global-color-black);
}
section.cards .cards-box .card.white p {
  color: var(--global-color-text-dark);
}
/* end cards section */

/* start choose-us section */
.choose-us {
  overflow: hidden;
  background: #f6f6f6;
  padding: 120px 0;
}
.choose-us::after,
.choose-us::before {
  transform: rotate(3deg);
}
.choose-us::before {
  top: -105px;
  bottom: unset;
}
.choose-us::after {
  top: unset;
  bottom: -115px;
}
.flex-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 110px;
}
.flex-2 .box {
  max-width: 50%;
  flex: 1;
}
.choose-us .info-box .section-title,
.choose-us .info-box .title {
  margin-left: 6px;
}
.choose-us .info-box .text-holder {
  margin-bottom: 32px;
}
.choose-us .info-box .desc {
  margin-left: 2px;
  color: var(--global-color-text-dark);
}
.choose-us .info-box .progressions {
  position: relative;
  margin: 8px 0 0;
}
@media (min-width: 1400px) {
  .choose-us .info-box .progressions {
    margin: 8px 80px 0px 0px;
  }
}
.choose-us .info-box .progress {
  position: relative;
  margin-bottom: 25px;
}
.choose-us .info-box .progress .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choose-us .info-box .progress .info .percent {
  font-family: var(--global-font-sec);
  color: var(--global-color-black);
}
.choose-us .info-box .progress .info .title {
  color: var(--global-color-black);
  margin: 0;
  font-size: 20px;
}
.choose-us .info-box .progress .bar {
  font-size: 20px;
  background-color: var(--global-color-text);
  height: 8px;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
}
.choose-us .info-box .progress .bar .value {
  background-color: var(--global-color-primary);
  transition: 3.5s calc(0.3s * var(--i)) ease-out;
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 0;
  left: 0;
  top: 0;
}
.choose-us .img-box {
  max-width: 50%;
  flex: 1;
}
.choose-us .img-box img {
  object-position: center;
  object-fit: cover;
  width: 100%;
}
.choose-us .img-box .note-box {
  position: relative;
  margin-top: -50px;
  margin-bottom: 0px;
  padding: 0px 20px;
  z-index: 2;
}
.choose-us .img-box .note {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  background: var(--global-color-black);
  border-color: var(--global-color-primary);
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.choose-us .img-box .note .desc {
  color: var(--global-color-text);
  margin-top: 0;
  line-height: 1.5;
  font-family: var(--global-font-sec);
}
.choose-us .img-box .note .name {
  color: var(--global-color-primary);
  font-size: 20px;
  margin: 0;
}
/* end choose-us section */

/* start coach section */
section.coach .coach {
  align-items: center;
  column-gap: 60px;
  margin-top: 20px;
  display: flex;
}
section.coach .coach .coach-profile {
  flex-direction: column;
  display: flex;
}
@media (min-width: 1400px) {
  section.coach .coach .coach-profile {
    width: 450px;
  }
}
section.coach .coach .coach-profile .profile {
  position: relative;
  margin: 0;
}
section.coach .coach .coach-profile .profile .overlay {
  background-color: #000;
  transform-origin: 50% 100%;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}
section.coach .coach .coach-profile .profile:hover .overlay {
  transform: scaleY(1);
  opacity: 0.6;
}
section.coach .coach .coach-profile .profile .btns {
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-50%);
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
  position: absolute;
  column-gap: 15px;
  display: flex;
  bottom: -30px;
  z-index: 2;
  opacity: 0;
  left: 50%;
}
section.coach .coach .coach-profile .profile:hover .btns {
  bottom: 0;
  opacity: 1;
}
section.coach .coach .coach-profile .profile .btns .btn {
  padding: 0;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  height: 45px;
  width: 45px;
}
section.coach .coach .coach-profile .profile .btns .btn i {
  font-size: 20px;
}
section.coach .coach .coach-profile .profile img {
  object-position: center center;
  object-fit: cover;
  max-width: 100%;
  display: block;
  width: 100%;
}
section.coach .coach .coach-profile .info {
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  background-color: var(--global-color-white);
  margin: -55px 20px 0px 20px;
  padding: 10px 0px 5px 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 2;
}
section.coach .coach .coach-profile .info .name {
  padding: 0 20px;
  margin: 8px 0 16px;
  text-align: center;
  font-size: 35px;
}
section.coach .coach .coach-profile .info .job {
  color: var(--global-color-text-dark);
  font-family: var(--global-font-sec);
  text-transform: capitalize;
  font-weight: normal;
  margin: 0 0 16px;
  font-weight: bold;
  font-size: 16px;
}
section.coach .coach .coach-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section.coach .coach .coach-info .title {
  color: var(--global-color-primary);
  text-transform: capitalize;
  margin: 0 0 16px;
  font-size: 32px;
}
section.coach .coach .coach-info .text-holder .desc {
  margin: 0;
  color: var(--global-color-text-dark);
  padding-right: 100px;
}
section.coach .coach .coach-info .awards-seciton {
  margin-top: 50px;
}
section.coach .coach .coach-info .awards {
  display: flex;
  column-gap: 40px;
}
section.coach .coach .coach-info .awards .award {
  max-width: 60px;
}
section.coach .coach .coach-info .awards .award img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
/* end coach section */