@import url(./lib/pages-header.css);
section.header {
  background-image: url(../img/blog-background.jpg);
}

textarea, textarea:focus, textarea:active, textarea:hover {
  border: 1px solid #bdbdbd3d !important;
  outline: none !important;
}

section.article {
  padding-top: 60px;
}
section.article .container {
  box-sizing: content-box;
  max-width: 800px;
  margin: auto;
}
section.article .image {
  width: 100%;
}
section.article .image img {
  object-position: center center;
  margin-bottom: 20px;
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}
section.article .content,
section.article .content p {
  line-height: 1.5;
  color: #5e5d5d;
  font-size: 18px;
  font-family: var(--global-font-sec);
}
section.article .content a {
  text-decoration: underline;
  color: #000;
}
section.article .content h2,
section.article .content h3,
section.article .content h4 {
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 1.2;
}
section.article .content h2 {
  font-size: 48px;
  margin-bottom: 22px;
}
section.article .content h3 {
  font-size: 36px;
  margin-bottom: 18px;
}
section.article .content h4 {
  font-size: 24px;
  margin-bottom: 16px;
}
section.article .divider {
  margin: 35px 0;
}
section.article .end {
  margin: 65px 0 35px !important;
}
section.article .article-info {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  display: flex;
}
section.article .article-info .tags {
  margin: 0;
  font-family: var(--global-font-sec);
  color: var(--global-color-text-dark);
}
section.article .article-info .tags a {
  text-decoration: underline;
  margin-left: 8px;
  color: #000;
}
section.article .article-info .share {
  font-family: var(--global-font-sec);
  color: var(--global-color-text-dark);
  align-items: center;
  column-gap: 20px;
  display: flex;
  margin: 0;
}
section.article .article-info .share .btns {
  display: inline-flex;
  column-gap: 10px;
}
section.article .article-info .share .btns .btn {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 40px;
  padding: 0;
}
section.article .comments .title {
  color: var(--global-color-text-dark);
  font-family: var(--global-font-sec);
  margin-bottom: 15px;
  font-size: 22px;
}
section.article .comments .input-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
section.article .comments .input-holder.is-wrong textarea {
  border-color: #dc3546cb;
}
section.article .comments .input-holder .error {
  color: #dc3545;
  margin: 0;
  padding-left: 80px;
}
section.article .comments .input-holder .body {
  display: flex;
  margin-bottom: 12px;
}
section.article .comments .body label {
  width: 70px;
  text-align: center;
  font-size: 18px;
  font-family: var(--global-font-sec);
  color: #5e5d5d;
}
section.article .comments .body label .image img {
  object-fit: cover;
  object-position: center center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
section.article .comments .body textarea, section.article .comments .comment {
  transition: border 0.5s ease-out;
  position: relative;
  min-height: 120px;
  padding: 16px 18px;
  font-size: 16px;
  line-height: 1.3;
  font-family: var(--global-font-sec);
  width: 100%;
  resize: none;
  border: 1px solid #bdbdbd3d;
  border-radius: 5px;
  margin-left: 20px;
}
section.article .comments .body textarea {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
section.article .comments .body .btn {
  transition: all 0.4s ease-out;
}
section.article .comments .comment {
  margin: 0 0 30px 0;
  padding: 18px 22px 14px;
  display: flex;
  flex-direction: column;
}
section.article .comments .comment .body {
  display: flex;
}
section.article .comments .comment .body .profile {
  min-width: max-content;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
section.article .comments .comment .body .profile .user-img {
  width: 60px;
}
section.article .comments .comment .body .profile .user-name {
  text-align: center;
  font-family: var(--global-font-sec);
  text-align: center;
  color: #5e5d5d;
  font-size: 18px;
}
section.article .comments .comment .body .profile .user-img img {
  object-fit: cover;
  object-position: center center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  width: 100%;
}
section.article .comments .comment .body .text {
  padding-top: 12px;
  line-height: 1.5;
  color: #5e5d5d;
}
section.article .comments .comment .actions {
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding-top: 8px;
  display: flex;
}
section.article .comments .comment .actions .btn {
  flex-basis: calc(100% / 3);
  min-width: calc(100% / 3);
  color: var(--global-color-text-dark);
  background-color: transparent;
  padding: unset;
  height: 35px;
  width: 35px;
}
section.article .comments .comment .actions .btn:hover {
  color: var(--global-color-primary);
}
section.article .comments .comment .actions .date {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--global-color-text-dark);
  flex-basis: calc(100% / 3);
  font-size: 16px;
  min-width: calc(100% / 3);
  margin: 0;
}
section.article .comments .comment .actions form {
  animation: slideDown 0.9s ease-out;
  margin-top: 18px;
  flex-basis: 100%;
  min-width: 100%;
  overflow: hidden;
}
section.article .comments .comment .actions form.remove {
  animation: slideUp 0.9s ease-out forwards;
}
section.article .comments .comment .actions form .comment {
  flex-basis: 100%;
  min-width: 100%;
  margin-bottom: 8px;
}
section.article .comments .comment .actions form .btns-container {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  column-gap: 20px;
  display: flex;
  width: 100%;
}
section.article .comments .comment .actions form .btns-container .btn {
  transition: border 0.35s ease-in-out;
}
section.article .comments .comment .actions form .btns-container .cancel-btn {
  border: 1px solid transparent;
}
section.article .comments .comment .actions form .btns-container .cancel-btn:hover {
  border: 1px solid #dc3545;
  color: #dc3545;
}
section.article .comments .comment .replies .reply {
  padding-top: 18px;
  margin-left: 40px;
  border-top: 1px solid #bdbdbd3d;
  margin-top: 18px;
  padding-left: 20px;
}
section.article .comments .comment .replies .reply .text {
  padding-top: 32px;
}
section.article .comments .comment .replies .reply .profile .tag {
  color: #abaaaa;
  font-size: 14px;
}
section.article .comments .comment .replies .reply .actions {
  justify-content: flex-end;
}
section.article .comments .comment .replies .reply .actions .date {
  text-align: right;
}
@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 170px;
  }
}
@keyframes slideUp {
  from {
    max-height: 170px;
    margin-top: 18px;
  }
  to {
    margin-top: 0;
    max-height: 0;
  }
}

/* section.article .comments .comment .actions form .btns-container .btn {
  min-width: 50%;
} */
@media (max-width: 767px) {
  section.article .container {
    max-width: unset;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  section.article .article-info {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center !important;
  }
}