/* start header section */
@import "./pages-header.css";
section.header {
  background-image: url(../img/courses-page.jpg);
}
/* end header section */

/* start courses section */
section.courses {
  padding-top: 90px;
}
section.courses .courses {
  --col-gap: 20px;
  column-gap: var(--col-gap);
  row-gap: calc(var(--col-gap) * 2);
  display: flex;
  padding-top: 10px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}
section.courses .course {
  box-shadow: 0px 5px 20px 2px rgb(0 0 0 / 10%);
  background: var(--global-color-white);
  padding: 25px 25px 25px 25px;
  margin: 0;
  flex-direction: column;
  display: flex;
  width: calc((100% - (var(--col-gap) * 2)) / 3);
}
section.courses .course:nth-child(even) {
  background: var(--global-color-black);
}
section.courses .course .course-img {
  position: relative;
  margin-bottom: 20px;
}
section.courses .course .course-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
}
section.courses .course .course-img .price {
  font-family: var(--global-font-primary);
  background: var(--global-color-white);
  color: var(--global-color-primary);
  margin-bottom: -10px;
  width: fit-content;
  text-align: center;
  position: absolute;
  padding: 0 15px;
  font-weight: 600;
  min-width: 70px;
  font-size: 35px;
  content: "";
  left: 10px;
  bottom: 0;
}
section.courses .course:nth-child(even) .course-img .price {
  background: var(--global-color-black);
}
section.courses .course .course-img .price .number {
  font-family: inherit;
  margin: 8px 0 16px;
  font-weight: inherit;
  font-size: inherit;
}
section.courses .course .course-info .course-title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--global-color-black);
}
section.courses .course:nth-child(even) .course-info .course-title {
  color: var(--global-color-white);
}
section.courses .course .course-info .course-details {
  font-family: var(--global-font-sec);
  color: var(--global-color-text);
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
}
section.courses .course .course-info .course-details .duration span,
section.courses .course .course-info .course-details .verify span {
  font-family: var(--global-font-sec);
}
section.courses .course .course-info .course-details .icon {
  font-size: 20px;
  margin-right: 10px;
  color: var(--global-color-accent);
}
section.courses .course .course-info .divider {
  position: relative;
  opacity: 0.2;
  margin: 20px 0;
  width: 100%;
}
section.courses .course .course-info .btn-rate {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
section.courses .course .course-info .btn-rate .rating {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--global-color-text);
  font-family: var(--global-font-sec);
  font-size: 16px;
}
section.courses .course .course-info .btn-rate .rating .rate {
  margin-right: 10px;
}
section.courses .course .course-info .btn-rate .rating .stars {
  color: var(--global-color-primary);
  font-size: 15px;
}
section.courses .note {
  color: var(--global-color-text-dark);
  font-family: var(--global-font-sec);
  display: inline-block;
  margin-right: 8px;
}
section.courses .all-courses {
  color: var(--global-color-black);
  font-family: var(--global-font-sec);
  transition: color 0.3s;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline;
}
section.courses .all-courses i {
  margin-left: 4px;
}
section.courses .all-courses:hover {
  color: var(--global-color-accent);
}
/* end courses section */

/* start analytics section */
section.analytics {
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
}

section.analytics .boxes {
  margin-top: -270px;
  display: flex;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
}
section.analytics .boxes .box {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  padding: 40px 50px 30px 50px;
}
section.analytics .boxes .box .icon {
  color: var(--global-color-primary);
}
section.analytics .boxes .box .icon i {
  font-size: 60px;
}
section.analytics .boxes .box .title {
  color: var(--global-color-black);
  font-size: 35px;
  margin-bottom: 15px;
}
section.cards .cards-box .card p {
  color: var(--global-color-text-dark);
}
section.analytics .boxes .box:nth-child(odd) {
  background-color: var(--global-color-black);
}
section.analytics .boxes .box:nth-child(even) {
  background-color: var(--global-color-white);
}
section.analytics .background-box {
  padding-bottom: 30px;
  overflow: visible;
}
section.analytics .background-box::before,
section.analytics .background-box::after {
  transform: rotate(-3deg);
}
section.analytics .background-box::before {
  top: 5px;
}
section.analytics .background-box::after {
  bottom: -30px;
}
section.analytics .background-box .background {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background-image: url(../img/about-us-02.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 300px 0px 0px 0px;
  background-size: cover;
  margin-bottom: 0px;
  position: relative;
}
section.analytics .background-box .background::before {
  content: "";
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  background-color: var( --global-color-black );
  position: absolute;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  z-index: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
section.analytics .background-box .background .boxes {
  margin: 0 0 -50px 0;
  z-index: 2;
}
section.analytics .background-box .background .boxes .box {
  flex: 1;
}
section.analytics .background-box .background .boxes .box .icon {
  font-size: 55px;
  color: var(--global-color-primary);
}
section.analytics .background-box .background .boxes .box .number {
  font-size: 55px;
  font-family: var(--global-font-primary);
}
section.analytics .background-box .background .boxes .box .title {
  font-size: 16px;
  margin: 0;
  font-family: var(--global-font-sec);
}
section.analytics .background-box .background .boxes .box .number .super {
  color: var(--global-color-primary);
  font-size: 35px;
  font-weight: 600;
  position: relative;
  margin-left: 10px;
  top: -4px;
}
section.analytics .background-box .background .boxes .box:nth-child(odd) .number {
  color: var(--global-color-white);
}
section.analytics .background-box .background .boxes .box:nth-child(even) .number {
  color: var(--global-color-black);
}
section.analytics .background-box .background .boxes .box:nth-child(odd) .title {
  color: var(--global-color-text);
}
section.analytics .background-box .background .boxes .box:nth-child(even) .title {
  color: var(--global-color-text-dark);
}
/* end analytics section */