section.header {
  padding: 220px 0px 150px 0px;
}section.header::before {
  all: unset;
}
section.header .overlay {
  z-index: 1;
}
section.header .center-box {
  color: var(--global-color-white);
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 2;
}
section.header .title,
section.header .path {
  color: inherit;
}
section.header .path {
  width: fit-content;
  display: flex;
  column-gap: 20px;
}
section.header .path li {
  font-family: var(--global-font-sec);
  text-transform: capitalize;
  font-size: 16px;
}
section.header .path li:not(:first-of-type) {
  padding-left: 15px;
}
section.header .path li:not(:first-of-type)::before {
  position: relative;
  content: "\e925";
  right: 15px;
  width: 1.25em;
  font-size: 14px;
  font-family: 'jkiticon' !important;
  color: var(--global-color-primary);
}
