@import url('./global.css');

/* ==== start header section ==== */
section.header {
  height: 100vh;
  color: var(--global-color-white);
  min-height: 950px;
}
section.header .slide-show-container {
  position: absolute;
  height: 100%;
  min-height: 950px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}
section.header .overlay {
  background: var(--global-color-black);
  z-index: 0;
}
section.header .background-changer {
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
section.header .background-changer .slide {
  background-image: url(../img/header01.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
section.header .info h4 {
  margin: 8px 0 16px;
  text-transform: capitalize;
}
section.header .info {
  width: 50%;
}
section.header .info h1 {
  max-width: 90%;
  margin: 8px 0 16px;
}
section.header .info h1 span {
  color: var(--global-color-primary);
}
section.header .info p {
  margin-bottom: 15px;
  max-width: 80%;
  color: var(--global-color-text);
}
section.header .btns-container {
  display: flex;
  padding-top: 20px;
}
section.header .btns-container .btn-transparent {
  position: relative;
}
section.header .btns-container .btn-transparent i {
  position: absolute;
  right: 7px;
}
/* end header section */

/* start cards section */
section.cards {
  overflow: visible;
  padding-bottom: 100px;
  padding-top: 80px;
}
section.cards::before {
  content: "";
  position: absolute;
  top: -60px;
  transform: rotate(3deg);
  left: -70px;
  right: 0;
  background-color: white;
  width: 120%;
  height: 150px;
}
section.cards .cards-box,
section.analytics .boxes {
  margin-top: -270px;
  display: flex;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
}
section.cards .cards-box .card,
section.analytics .boxes .box {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  padding: 40px 50px 30px 50px;
}
section.cards .cards-box .card .icon,
section.analytics .boxes .box .icon {
  color: var(--global-color-primary);
}
section.cards .cards-box .card .icon i,
section.analytics .boxes .box .icon i {
  font-size: 60px;
}
section.cards .cards-box .card .title,
section.analytics .boxes .box .title {
  color: var(--global-color-black);
  font-size: 35px;
  margin-bottom: 15px;
}
section.cards .cards-box .card p {
  color: var(--global-color-text-dark);
}
section.cards .cards-box .card:nth-child(odd),
section.analytics .boxes .box:nth-child(odd) {
  background-color: var(--global-color-black);
}
section.cards .cards-box .card:nth-child(even),
section.analytics .boxes .box:nth-child(even) {
  background-color: var(--global-color-white);
}
section.cards .cards-box .card:nth-child(odd) .title{
  color: var(--global-color-white);
}
section.cards .cards-box .card:nth-child(odd) p {
  color: var(--global-color-text);
}
/* end cards section */

/* start about-us section */
.about-us {
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.about-us .box {
  position: relative;
  min-height: 1px;
  height: 100%;
  width: 100%;
  margin: 0;
}
.about-us .img-box {
  display: flex;
  position: relative;
}
.about-us .img-box .circle-img {
  margin: 0% -10% 0% 90%;
  padding: 30px 20px 30px 20px;
  background-color: #ededed;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  z-index: 3;
  position: relative;
  height: fit-content;
  top: 60px;
}
.about-us .img-box .circle-img img {
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  display: inline-block;
}
.about-us .img-box .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background-image: url(../img/about-us-01.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.about-us .content-box {
  justify-content: flex-start;
  padding: 10% 15%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.about-us .content-box .title-holder {
  margin: 0px 120px 20px 0px;
}
.about-us .content-box .title-holder .title {
  margin-top: 0;
}
.about-us .content-box .text-holder p {
  color: var(--global-color-text-dark);
}
.about-us .content-box .counters-box {
  display: flex;
  column-gap: 22px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 45px;
}
.about-us .content-box .counters-box .counter {
  text-align: center;
}
.about-us .content-box .counters-box .counter .number-holder {
  margin-bottom: 25px;
  font-weight: 600;
  margin: 0;
}
.about-us .content-box .counters-box .counter .number-holder .number {
  font-size: 55px;
}
.about-us .content-box .counters-box .counter .number-holder .super {
  color: var(--global-color-primary);
  position: relative;
  top: 3px;
  margin-left: 8px;
  font-size: 35px;
}
.about-us .content-box .counters-box .counter .title {
  font-size: 16px;
  color: var(--global-color-text-dark);
  font-family: "Marcellus", "serif";
}
.about-us .content-box .counters-box .counter .title {
  font-size: 16px;
  color: var(--global-color-text-dark);
}
/* end about-us section */

/* start analytics section */
section.analytics {
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
}
section.analytics .background-box {
  padding-bottom: 30px;
  overflow: visible;
}
section.analytics .background-box::before,
section.analytics .background-box::after {
  transform: rotate(-3deg);
}
section.analytics .background-box::before {
  top: 5px;
}
section.analytics .background-box::after {
  bottom: -30px;
}
section.analytics .background-box .background {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  background-image: url(../img/about-us-02.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 300px 0px 0px 0px;
  background-size: cover;
  margin-bottom: 0px;
  position: relative;
}
section.analytics .background-box .background::before {
  content: "";
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  background-color: var( --global-color-black );
  position: absolute;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  z-index: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
section.analytics .background-box .background .boxes {
  margin: 0 0 -50px 0;
  z-index: 2;
}
section.analytics .background-box .background .boxes .box {
  flex: 1;
}
section.analytics .background-box .background .boxes .box .icon {
  font-size: 55px;
  color: var(--global-color-primary);
}
section.analytics .background-box .background .boxes .box .number {
  font-size: 55px;
  font-family: var(--global-font-primary);
}
section.analytics .background-box .background .boxes .box .title {
  font-size: 16px;
  margin: 0;
  font-family: var(--global-font-sec);
}
section.analytics .background-box .background .boxes .box .number .super {
  color: var(--global-color-primary);
  font-size: 35px;
  font-weight: 600;
  position: relative;
  margin-left: 10px;
  top: -4px;
}
section.analytics .background-box .background .boxes .box:nth-child(odd) .number {
  color: var(--global-color-white);
}
section.analytics .background-box .background .boxes .box:nth-child(even) .number {
  color: var(--global-color-black);
}
section.analytics .background-box .background .boxes .box:nth-child(odd) .title {
  color: var(--global-color-text);
}
section.analytics .background-box .background .boxes .box:nth-child(even) .title {
  color: var(--global-color-text-dark);
}
/* end analytics section */

/* start courses section */
section.courses {
  padding-top: 90px;
}
section.courses .desc {
  line-height: 1.5;
}
section.courses .courses {
  display: flex;
  padding-top: 10px;
  margin-bottom: 12px;
}
section.courses .course {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  background: var(--global-color-white);
  padding: 25px 25px 25px 25px;
  margin: 0px 20px 0px 0px;
  flex-direction: column;
  display: flex;
  flex: 1;
}
section.courses .course:nth-child(even) {
  background: var(--global-color-black);
}
section.courses .course .course-img {
  position: relative;
  margin-bottom: 20px;
}
section.courses .course .course-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
}
section.courses .course .course-img .price {
  font-family: var(--global-font-primary);
  background: var(--global-color-white);
  color: var(--global-color-primary);
  margin-bottom: -10px;
  width: fit-content;
  text-align: center;
  position: absolute;
  padding: 0 15px;
  font-weight: 600;
  min-width: 70px;
  font-size: 35px;
  content: "";
  left: 10px;
  bottom: 0;
}
section.courses .course:nth-child(even) .course-img .price {
  background: var(--global-color-black);
}
section.courses .course .course-img .price .number {
  font-family: inherit;
  margin: 8px 0 16px;
  font-weight: inherit;
  font-size: inherit;
}
section.courses .course .course-info .course-title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--global-color-black);
}
section.courses .course:nth-child(even) .course-info .course-title {
  color: var(--global-color-white);
}
section.courses .course .course-info .course-details {
  font-family: var(--global-font-sec);
  color: var(--global-color-text);
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
}
section.courses .course .course-info .course-details .duration span,
section.courses .course .course-info .course-details .verify span {
  font-family: var(--global-font-sec);
}
section.courses .course .course-info .course-details .icon {
  font-size: 20px;
  margin-right: 10px;
  color: var(--global-color-accent);
}
section.courses .course .course-info .divider {
  position: relative;
  opacity: 0.2;
  margin: 20px 0;
  width: 100%;
}
section.courses .course .course-info .btn-rate {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
section.courses .course .course-info .btn-rate .rating {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--global-color-text);
  font-family: var(--global-font-sec);
  font-size: 16px;
}
section.courses .course .course-info .btn-rate .rating .rate {
  margin-right: 10px;
}
section.courses .course .course-info .btn-rate .rating .stars {
  color: var(--global-color-primary);
  font-size: 15px;
}
section.courses .note {
  color: var(--global-color-text-dark);
  font-family: var(--global-font-sec);
  display: inline-block;
  margin-right: 8px;
}
section.courses .all-courses {
  color: var(--global-color-black);
  font-family: var(--global-font-sec);
  transition: color 0.3s;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline;
}
section.courses .all-courses i {
  margin-left: 4px;
}
section.courses .all-courses:hover {
  color: var(--global-color-accent);
}
/* end courses section */

/* start choose-us section */

.choose-us {
  overflow: hidden;
  background: #f6f6f6;
}
.choose-us::after,
.choose-us::before {
  transform: rotate(3deg);
}
.choose-us::before {
  top: -105px;
  bottom: unset;
}
.choose-us::after {
  top: unset;
  bottom: -115px;
}
.flex-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 110px;
}
.flex-2 .box {
  max-width: 50%;
  flex: 1;
}
.choose-us .info-box .section-title,
.choose-us .info-box .title {
  margin-left: 6px;
}
.choose-us .info-box .text-holder {
  margin-bottom: 32px;
}
.choose-us .info-box .desc {
  margin-left: 2px;
  color: var(--global-color-text-dark);
}
.choose-us .info-box .progressions {
  position: relative;
  margin: 8px 0 0;
}
@media (min-width: 1400px) {
  .choose-us .info-box .progressions {
    margin: 8px 80px 0px 0px;
  }
}
.choose-us .info-box .progress {
  position: relative;
  margin-bottom: 25px;
}
.choose-us .info-box .progress .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choose-us .info-box .progress .info .percent {
  font-family: var(--global-font-sec);
  color: var(--global-color-black);
}
.choose-us .info-box .progress .info .title {
  color: var(--global-color-black);
  margin: 0;
  font-size: 20px;
}
.choose-us .info-box .progress .bar {
  font-size: 20px;
  background-color: var(--global-color-text);
  height: 8px;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
}
.choose-us .info-box .progress .bar .value {
  background-color: var(--global-color-primary);
  transition: 3.5s calc(0.3s * var(--i)) ease-out;
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 0;
  left: 0;
  top: 0;
}
.choose-us .img-box {
  max-width: 50%;
  flex: 1;
}
.choose-us .img-box img {
  object-position: center;
  object-fit: cover;
  width: 100%;
}
.choose-us .img-box .note-box {
  position: relative;
  margin-top: -50px;
  margin-bottom: 0px;
  padding: 0px 20px;
  z-index: 2;
}
.choose-us .img-box .note {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  background: var(--global-color-black);
  border-color: var(--global-color-primary);
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
}
.choose-us .img-box .note .desc {
  color: var(--global-color-text);
  margin-top: 0;
  line-height: 1.5;
  font-family: var(--global-font-sec);
}
.choose-us .img-box .note .name {
  color: var(--global-color-primary);
  font-size: 20px;
  margin: 0;
}
/* end choose-us section */

/* start testimonials section */
.testimonials .container {
  position: relative;
}
.testimonials .background {
  background: url(../img/testimonials-background.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding: 62px 0 115px 50px;
  background-size: cover;
  position: relative;
  width: 100%;
}
.testimonials .background::before {
  background: var(--global-color-black);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.testimonials .icon {
  z-index: 5;
  position: absolute;
  font-size: 200px;
  right: 30px;
  top: 0;
  transform: translateY(-50%);
  color: var(--global-color-primary);
}
.testimonials .content {
  z-index: 1;
  position: relative;
}
.testimonials .content .title {
  color: var(--global-color-white);
}
.testimonials .content .testimons {
  margin-top: 40px;
  overflow: hidden;
  z-index: 3;
}
.testimonials .content .testimons .box {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  width: fit-content !important;
}
.testimonials .content .testimons .box .desc {
  background: var(--global-color-black);
  font-family: var(--global-font-sec);
  color: var(--global-color-white);
  box-sizing: content-box;
  padding: 20px 25px;
  font-style: italic;
  line-height: 1.5;
  font-size: 18px;
  width: 150px;
}
@media (min-width: 1400px) {
  .testimonials .content .testimons .box .desc {
    padding: 40px 50px 60px;
    width: 250px;
  }
}
.testimonials .content .testimons .box .info {
  justify-content: center;
  margin-top: -35px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}
.testimonials .content .testimons .box .info .profile-img {
  margin-bottom: 22px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.testimonials .content .testimons .box .info .stars {
  margin-bottom: 8px;
  color: #ffc402;
  font-size: 10px;
}
.testimonials .content .testimons .box .info .name {
  color: var(--global-color-white);
  margin-bottom: 6px;
}
.testimonials .content .testimons .box .info .job {
  color: var(--global-color-text);
  font-size: 13px;
  margin: 0;
}
/* end testimonials section */

/* start offer section */
section.offer {
  padding: 150px 0;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../img/offer-background.jpg);
}
section.offer::before,
section.offer::after {
  transform: rotate(-3deg);
}
section.offer .container {
  display: flex;
  justify-content: flex-end;
}
section.offer .content {
  width: 50%;
}
section.offer .content .title {
  line-height: 1.3;
  color: var(--global-color-white);
  margin: 16px 80px 20px 0px;
}
section.offer .content span {
  font-size: 60px;
}
section.offer .content .desc {
  font-size: 16px;
  font-family: var(--global-font-sec);
  color: var(--global-color-text);
  margin: 0 0 46px 0;
}
/* end offer section */

/* start blog section */
section.blog .desc {
  margin: 0 0 15px;
}
section.blog .blogs {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 30px;
  margin-top: 20px;
  display: grid;
}
section.blog .blogs .card {
  background-color: var(--global-color-black);
  box-sizing: border-box;
}
section.blog .blogs .card .card-img {
  position: relative;
}
section.blog .blogs .card .card-img img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
}
section.blog .blogs .card .card-img .type {
  background: var(--global-color-black);
  color: var(--global-color-primary);
  text-transform: capitalize;
  position: absolute;
  margin: 8px 0 0;
  padding: 10px;
  bottom: 0;
  left: 0;
}
section.blog .blogs .card .card-info {
  padding: 40px;
}
section.blog .blogs .card .card-info .title {
  color: var(--global-color-white);
  text-decoration: none;
  display: block;
  margin: 8px 0 16px;
}
section.blog .blogs .card .card-info .title h3 {
  font-size: 24px;
}
section.blog .blogs .card .card-info .date {
  color: var(--global-color-text-dark);
  font-family: var(--global-font-sec);
  font-size: 13px;
}
section.blog .blogs .card .card-info .desc {
  margin: 16px 0 0;
  font-family: var(--global-font-sec);
  color: var(--global-color-text);
}
/* end blog section */

/* start instagram section */
section.instagram {
  padding-bottom: 35px;
}
section.instagram::after {
  all: unset;
}
section.instagram .title {
  font-size: 35px;
}
section.instagram .posts {
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  margin-top: 20px;
  display: grid;
}
section.instagram .posts .post {
  margin: 10px 10px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 250px;
  padding: 0;
}
section.instagram .posts .post::before {
  background: var(--global-color-primary);
  transition: opacity 0.3s ease-out;
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
section.instagram .posts .post:hover::before {
  opacity: 0.5;
}
section.instagram .posts .post img {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
section.instagram .posts .post i {
  transition: opacity 0.3s ease-out;
  color: var(--global-color-white);
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 50px;
  opacity: 0;
  left: 50%;
  top: 50%;
}
section.instagram .posts .post:hover i {
  opacity: 1;
}
/* end instagram section */
