section.header {
	padding: 220px 0px 150px 0px;
	background-image: url(../img/course-page.jpg);
	&::before {
		all: unset;
	}
	.overlay {
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 2;
		max-width: 675px;
	}
	.center-box {
		color: var(--global-color-white);
		flex-direction: column;
		align-items: center;
		position: relative;
		display: flex;
		z-index: 2;
	}
	.title {
		color: inherit;
	}
	.path {
		color: inherit;
		width: fit-content;
		display: flex;
		column-gap: 20px;
		li {
			font-family: var(--global-font-sec);
			text-transform: capitalize;
			font-size: 16px;
			&:not(:first-of-type) {
				padding-left: 15px;
			}
		}
		.page {
			&:not(:first-of-type) {
				&::before {
					position: relative;
					content: "\e925";
					right: 15px;
					width: 1.25em;
					font-size: 14px;
					font-family: 'jkiticon' !important;
					color: var(--global-color-primary);
				}
			}
		}
		.icon {
			i {
				margin-right: 8px;
			}
		}
	}
}
section.course {
	.container {
		display: flex;
		padding-top: 10px;
	}
	.main {
		width: 65%;
	}
	.side {
		width: 35%;
		padding-left: 30px;
	}
	.coach-info {
		justify-content: space-between;
		margin-bottom: 50px;
		align-items: center;
		display: flex;
		.text {
			flex: 1 1 fit-content;
			.title {
				margin: 0 0 16px;
			}
			.desc {
				margin: 0;
			}
		}
		.profile {
			justify-content: space-between;
			margin-right: 8px;
			align-items: center;
			display: flex;
			flex: 10 0 fit-content;
			img {
				width: 85px;
				height: 85px;
				border-radius: 50%;
				margin-right: 22px;
			}
			.name {
				margin: 0 0 10px;
				font-size: 24px;
			}
			.rate {
				display: flex;
				align-items: center;
				.number {
					color: var(--global-color-text);
					font-family: var(--global-font-sec);
					display: inline-block;
					margin-right: 16px;
					line-height: 1.5;
				}
				.stars {
					color: var(--global-color-primary);
				}
			}
		}
	}
	.image {
		position: relative;
		margin-bottom: 20px;
		img {
			max-height: 520px;
			max-height: 490px;
			object-position: center center;
			object-fit: cover;
			width: 100%;
		}
	}
	.description {
		margin-bottom: 35px;
		.desc {
			opacity: 0.85;
		}
	}
	.what-learn {
		.desc {
			opacity: 0.85;
		}
		.content {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			position: relative;
			column-gap: 30px;
			display: grid;
		}
		.box.video {
			position: relative;
			min-width: 385px;
			width: 100%;
			height: 100%;
			.video {
				display: block;
				height: 100%;
				width: 100%;
			}
		}
		.text {
			ul {
				flex-direction: column;
				display: flex;
				row-gap: 10px;
				li {
					span {
						font-family: var(--global-font-sec);
						color: var(--global-color-black);
						line-height: 1.5;
					}
					i {
						margin-right: 10px;
					}
				}
			}
		}
	}
	.course-info {
		box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
		background-color: var(--global-color-white);
		margin: 0 0 40px;
		padding: 50px;
		.title {
			margin: -10px 0px 5px 0px;
			.month {
				color: var(--global-color-text-dark);
				font-size: 20px;
			}
		}
		.divider {
			margin: 25px 0;
		}
		.features-list {
			flex-direction: column;
			margin-bottom: 30px;
			row-gap: 25px;
			display: flex;
			li {
				font-family: var(--global-font-sec);
				color: var(--global-color-text-dark);
				text-transform: capitalize;
				i {
					font-size: 14px;
					width: 1.25rem;
				}
			}
		}
		.btn {
			display: block;
		}
	}
	.more-courses {
		background-image: url(../img/more-courses.jpg);
		box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
		background-attachment: scroll;
		margin-bottom: 50px;
		position: relative;
		padding: 50px;
		.content {
			text-align: center;
			position: relative;
			z-index: 2;
			.overlay {
				opacity: 0.6;
			}
			.title {
				color: var(--global-color-white);
			}
			.desc {
				color: var(--global-color-text);
			}
		}
	}
	.offer {
		.title {
			margin: 0;
		}
		.image {
			margin: -15px 0 0;
			img {
				object-position: center center;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
.testimonials {
	.container {
		position: relative;
	}
	.background {
		background: url(../img/testimonials-background.jpg);
		background-attachment: scroll;
		background-repeat: no-repeat;
		padding: 62px 0 115px 50px;
		background-size: cover;
		position: relative;
		width: 100%;
		&::before {
			background: var(--global-color-black);
			background-attachment: scroll;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			opacity: .5;
			width: 100%;
			content: "";
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	.icon {
		z-index: 5;
		position: absolute;
		font-size: 200px;
		right: 30px;
		top: 0;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		color: var(--global-color-primary);
	}
	.content {
		z-index: 1;
		position: relative;
		.title {
			color: var(--global-color-white);
		}
		.testimons {
			margin-top: 40px;
			overflow: hidden;
			z-index: 3;
			.box {
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				position: relative;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				width: -webkit-fit-content !important;
				width: -moz-fit-content !important;
				width: fit-content !important;
				.desc {
					background: var(--global-color-black);
					font-family: var(--global-font-sec);
					color: var(--global-color-white);
					-webkit-box-sizing: content-box;
					box-sizing: content-box;
					padding: 20px 25px;
					font-style: italic;
					line-height: 1.5;
					font-size: 18px;
					width: 150px;
				}
				.info {
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					margin-top: -35px;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					text-align: center;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					.profile-img {
						margin-bottom: 22px;
						border-radius: 50%;
						height: 60px;
						width: 60px;
					}
					.stars {
						margin-bottom: 8px;
						color: #ffc402;
						font-size: 10px;
					}
					.name {
						color: var(--global-color-white);
						margin-bottom: 6px;
					}
					.job {
						color: var(--global-color-text);
						font-size: 13px;
						margin: 0;
					}
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.testimonials {
		.content {
			.testimons {
				.box {
					.desc {
						padding: 40px 50px 60px;
						width: 250px;
					}
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.testimonials {
    padding-bottom: 0;
		.container {
			max-width: 100%;
			width: 100%;
			padding: 0;
		}
	}
  section.course {
    .container {
      flex-direction: column;
      row-gap: 50px;
      .main {
        width: 100%;
        .coach-info {
          .profile {
            justify-content: flex-end;
          }
        }
        .what-learn {
          .video {
            display: block;
            height: 270px;
            width: 450px;
          }
        }
      }
      .side {
        padding: 0;
        width: 100%;
      }
    }
  }
}
@media (max-width: 991px) {
  section.course {
    .main {
      .coach-info {
        flex-direction: column;
        .text {
          margin-bottom: 25px;
        }
        .profile {
          flex-direction: column;
          width: 100%;
          img {
            width: 30%;
            height: fit-content;
            border-radius: 50px;
            margin: 0;
          }
          .info {
            margin-top: 10px;
            .name {
              font-size: 22px;
            }
            .rate {
              .number {
                font-size: 14px;
              }
              .stars {
                i {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      .what-learn {
        .content {
          align-items: flex-start;
          row-gap: 20px;
          display: flex;
          flex-direction: column;
          .video {
            width: 100% !important;
            height: max-content !important;
            .video {
              height: 360px !important;
            }
          }
        }
      }
    }
  }
	.testimonials {
		.background {
			padding: 62px 115px 50px;
		}
		.content {
			.testimons {
				.box {
					.desc {
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						padding: 40px 50px 70px;
						width: 100%;
					}
				}
			}
		}
	}
}
@media (max-width: 640px) {
	.testimonials {
		.background {
			padding: 62px 20px 50px;
		}
	}
}
@media (min-width: 992px) {
	.testimonials {
		.content {
			.testimons {
				.box {
					.desc {
						padding: 30px 25px 50px;
						width: 350px;
					}
				}
			}
		}
	}
}
