$dangerB: #dc3545;
.form {
  --error-color: #dc3545;
  padding: 50px 50px 50px 50px;
  border-color: #EDEDED;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
  border-style: solid;
  position: relative;
  border-radius: 5px;
  border-width: 1px;
  display: flex;
  &:first-of-type {
    margin-bottom: 30px;
  }
  .info {
    border-bottom: 1px solid hsl(0deg 0% 74% / 40%);
    padding-bottom: 20px;
    justify-content: space-evenly;
    margin: 0 0 30px 0;
    display: flex;
    width: 100%;
    .icon {
      color: var(--global-color-primary);
      font-size: 24px;
    }
    .text {
      font-family: Tahoma, Geneva, Verdana, sans-serif;
      color: var(--global-color-text-dark);
      font-size: 18px;
    }
  }
  .input-container {
    display: flex;
    width: 100%;
    column-gap: 20px;
    .input-box {
      flex-basis: content;
      flex-grow: 1;
      &.type, &.price {
        flex-grow: 3;
      }
    }
  }
  .input-box {
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    width: 100%;
    &.is-wrong {
      label {
        color: $dangerB;
      }
      input, textarea {
        border-color: $dangerB !important;
      }
      .error {
        margin: 8px 16px;
        height: max-content;
        opacity: 0.8;
      }
    }
    label {
      color: var(--global-color-black);
      font-family: var(--global-font-sec);
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-size: 16px;
    }
    &:hover {
      input {
        border-color: var(--global-color-primary);
      }
      textarea {
        border-color: var(--global-color-primary);
      }
    }
    input {
      border-radius: 5px;
      transition: border-color 0.3s ease-in-out;
      font-family: var(--global-font-sec);
      background-color: #19191a00;
      padding: 15px 20px 15px 20px;
      border: 1px solid #ededed;
      display: inline-block;
      border-radius: 5px;
      font-size: 16px;
      width: 100%;
      &:active {
        border-color: var(--global-color-primary);
        outline: none;
      }
      &:focus {
        border-color: var(--global-color-primary);
        outline: none;
      }
      &::placeholder {
        text-transform: capitalize;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        text-transform: capitalize;
      }
      &::-ms-input-placeholder {
        text-transform: capitalize;
      }
    }
    .error {
      color: var(--error-color);
      transition: opacity 0.3s ease-out, height 0.3s ease-out, margin 0.3s ease-out;
      opacity: 0;
      height: 0;
      margin: 0;
    }
    textarea {
      transition: border-color 0.3s ease-in-out;
      font-family: var(--global-font-sec);
      border-width: 1px 1px 1px 1px;
      background-color: #19191a00;
      padding: 15px 20px 15px 20px;
      border-color: #ededed;
      display: inline-block;
      border-style: solid;
      border-radius: 0;
      font-size: 16px;
      width: 100%;
      min-height: 140px;
      max-height: 200px;
      overflow: hidden;
      resize: vertical;
      &:active {
        border-color: var(--global-color-primary);
        outline: none;
      }
      &:focus {
        border-color: var(--global-color-primary);
        outline: none;
      }
    }
  }
  .btn {
    margin-top: auto;
    &:not(:first-of-type) {
      margin-top: 15px;
    }
    &:focus, &:hover {
      border: none !important;
      outline: none !important;
    }
  }
  .content {
    font-family: var(--global-font-sec);
  }
}
#user, #form-signup {
  .info {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    .image {
      max-width: 100px;
      position: relative;
      img {
        max-width: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
      }
      .change-image {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(50%);
      }
    }
    .details {
      display: flex;
      flex-direction: row;
      column-gap: 60px;
    }
  }
}