header.header {
	position: absolute;
	z-index: 10;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	.navbar {
		margin-top: 20px;
		border-style: solid;
		border-width: 2px 2px 2px 2px;
		border-color: #FFFFFF1C;
		transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding: 20px 20px 20px 20px;
		position: relative;
		background-color: #FFFFFF1C;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
		}
		.content {
			display: flex;
			width: 100%;
			.logo {
				flex-grow: 0;
				background: var(--global-color-black);
				display: flex;
				align-items: center;
				padding: 20px;
				justify-content: center;
				img {
					width: 200px;
				}
			}
			.cta {
				flex-grow: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	.pages {
		flex-grow: 2;
		margin-right: 60px;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: flex-end;
			li {
				padding: 15px;
				&:hover {
					.menu-list {
						opacity: 1;
						visibility: visible;
					}
					a {
						color: var(--global-color-primary);
					}
				}
				a {
					-webkit-transition: all .4s ease;
					transition: all .4s ease;
					font-family: var(--global-font-sec);
					text-decoration: none;
					font-size: 14px;
					letter-spacing: 0.5px;
					text-transform: capitalize;
					color: var(--global-color-white);
					position: relative;
				}
				a.active {
					color: var(--global-color-primary);
				}
			}
			li.menu {
				padding-right: 20px;
				position: relative;
				i {
					left: 8px;
					position: relative;
				}
				.menu-list {
					-webkit-transition: all .4s ease;
					transition: all .4s ease;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 100%;
					height: auto;
					background-color: var(--global-color-black);
					width: fit-content;
					display: flex;
					padding: 10px;
					flex-direction: column;
					li {
						padding: 10px;
						width: 200px;
						a {
							color: var(--global-color-white);
						}
						&:hover {
							a {
								color: var(--global-color-primary);
							}
						}
					}
				}
			}
		}
	}

  @media (max-width: 991px) {
    #header-overlay {
      transition: left 0.3s ease-out, opacity 0.3s ease-out;
      position: fixed;
      height: 150%;
      width: 100%;
      left: -100%;
      z-index: 11;
      top: 0;
      bottom: 0;
      opacity: 0;
      &.active {
        left: 0;
        opacity: 0.6;
      }
    }
    .navbar {
      .content {
        justify-content: space-between;
      }
      .btn {
        font-size: 25px;
      }
    }
    .pages {
      overflow-y: scroll;
      background-color: var(--global-color-black);
      transition: left 0.3s ease-in-out;
      padding: 0 10px 0 !important;
      flex-direction: column;
      margin: 0 !important;
      box-sizing: border-box;
      position: fixed;
      height: 110vh;
      width: 300px;
      left: -300px;
      z-index: 12;
      top: -20px;
      .logo {
        margin: 70px 0px 15px 10px;
        max-width: 160px;
        width: 100%;
        padding: 5px;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      li {
        justify-content: space-between;
        font-family: var(--global-font-sec);
        font-weight: normal;
        padding: 15px;
        display: flex;
        width: 100%;
        &:last-of-type {
          padding: 15px 15px 30px 15px;
        }
        a {
          color: var(--global-color-white);
        }
        a.active {
          color: var(--global-color-primary);
        }
      }
    }
    .pages.active {
      left: 0;
    }
  }
}